{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whitelist</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ whitelist.id }}</td>
            </tr>
            <tr>
                <th>Customerid</th>
                <td>{{ whitelist.customerID }}</td>
            </tr>
            <tr>
                <th>Filter</th>
                <td>{{ whitelist.filter }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('whitelist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('whitelist_edit', { 'id': whitelist.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
